body {
  padding: 0;
  margin: 0;
  background: #eff;
}
.container {
  padding: 50px 0;
  width: 70%;
  margin: auto;
  text-align: center;
}
table {
  margin: auto;
  text-align: center;
}
input {
  width: 120px;
  height: 30px;
  border: 2px solid rgb(112, 214, 214);
  border-radius: 5px;
  margin: 0 20px;
  padding: 5px;
  font-size: 16px;
  color: #555;
}
input[type="text"]:focus {
  border: 2px solid rgb(112, 214, 214);
}
.btn {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background: rgb(112, 214, 214);
  width: 150px;
  font-size: 16px;
  margin: 50px auto;
}
.result {
  background: #fff;
  width: 70%;
  height: 70px;
  margin: auto;
  padding: 20px;
  border: 2px solid rgb(112, 214, 214);
  border-radius: 10px;
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #555;
}
